.carrousel_container {
    margin-top: 200px;

}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.item {
    border: 1px solid black;
}

.cities {
    display: flex;
    flex-direction: column;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    margin: 0;
    border: none;
    border-radius: 0;
}

.card_body {
    border-radius: none;
}